<div class="container">

  <div class="row">
    <div class="col-md-4 contacts">
      <div class="card">
        <div class="card-header">
          <p>
            {{openfireUser?.name}}
          </p>
          <hr>
          <div>
            <input [(ngModel)]="searchUser" class="form-control" type="text" placeholder="Search..." (input)="search($event)" />
            <div class="search-users list-group" *ngIf="users.length">
              <button class="list-group-item list-group-item-action" (click)="selectUserFromSearch(u)" *ngFor="let u of users">
                <h5 class="card-title">{{u.name}}</h5>
              <p class="card-text">{{u.jid}} </p>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body" >
          <div class="list-group list-group-flush" >
            <button class="list-group-item list-group-item-action" (click)="selectUserFromContacts(contact)" *ngFor="let contact of contacts">
             <div class="row">

               <div class="col-sm-2">
                 <img class="user-image" [class.online]="contact.status === 'Online'" [class.offline]="contact.status !== 'Online'"  src="https://chat.openai.com/_next/image?url=https%3A%2F%2Fs.gravatar.com%2Favatar%2F51e20a78bcb6a7f6b4ca89621c62f3bd%3Fs%3D480%26r%3Dpg%26d%3Dhttps%253A%252F%252Fcdn.auth0.com%252Favatars%252Fsh.png&w=32&q=75"/>
                </div>
                <div class="col-sm-9 user-detail">
                  <h6 style="margin-bottom: 0.1rem;font-size: 1rem;">{{contact.name}}</h6>
                  <p class="card-text">{{contact.jid}} </p>
                </div>
              </div>

            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-8 chat">
      <div class="card">
        <div class="card-header">
          
          <div class="row" *ngIf="selectedUser">

            <div class="col-sm-1">
              <img class="user-image"  src="https://chat.openai.com/_next/image?url=https%3A%2F%2Fs.gravatar.com%2Favatar%2F51e20a78bcb6a7f6b4ca89621c62f3bd%3Fs%3D480%26r%3Dpg%26d%3Dhttps%253A%252F%252Fcdn.auth0.com%252Favatars%252Fsh.png&w=32&q=75"/>
             </div>
             <div class="col-sm-9 user-detail">
               <h6 style="margin-bottom: 0.1rem;font-size: 1rem;">{{selectedUser?.name}}</h6>
               <p class="card-text">{{selectedUser?.jid}} </p>
             </div>
           </div>
        </div>
        <div class="card-body">
          <div class="chat-window" #chatWindow>
            <div class="chat-content" *ngFor="let item of groupedData | keyvalue">
             <p class="chat-date">
               {{ item.key | date:"dd, MMM  yy" }}
              </p> 
              <hr/>
            <div *ngFor="let msg of item.value; let index = index" 
            class="message" 
            [class.sent]="msg.type === 'sent'"
            [class.received]="msg.type === 'received'">
            <div [innerHtml]="msg.message"></div>
            <a id="received"></a>
            <div class="chat-time">{{msg.date | date:"h:mm a"}}</div>
          </div>
        </div>

            <!-- <div *ngFor="let msg of messages; let index = index" class="message" [class.sent]="msg.type === 'sent'"
              [class.received]="msg.type === 'received'">
              <div [innerHtml]="msg.message"></div>
              <span>{{msg.date}}</span>
            </div> -->
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-10">
              <input type="file" id="files" name="files" (change)="handleFileSelect($event)" />
              <input class="form-control" type="text" [(ngModel)]="inputMessage" placeholder="Type a message..." />
            </div>
            <div class="col-sm-2">
              <button (click)="handleSendMessage()" class="btn btn-primary">Send</button>
            </div>
          </div>
        </div>
      </div>



      <!-- <div class="chat-window" #chatWindow>
    <div
      *ngFor="let msg of messages; let index = index"
      class="message"
      [class.sent]="msg.type === 'sent'"
      [class.received]="msg.type === 'received'"
    >
      <div [innerHtml]="msg.message"></div>
    </div>
  </div>
  <div class="input-area">
    <input
      type="text"
      [(ngModel)]="inputMessage"
      placeholder="Type a message..."
    />
    <button (click)="handleSendMessage()">Send</button>
  </div> -->
    </div>
  </div>
</div>